<div class="container">
  <form class="block__main">
    <div name="haveDone" class="block">
      <label for="nameInput" class="col-sm-2 control-label">Have done?</label>
      <div>
        <div *ngFor="let item of lastTask">
          <label class="tasks-list-item">
            <input type="checkbox" id="{{item.id}}"
                  class="tasks-list-cb" [checked]="!item.active"
                   (change)="onCheck($event, item)">
            <span class="tasks-list-mark"></span>
            <span>{{item.title}}</span>
          </label>
        </div>
        <input type="text" [(ngModel)]="textDone" name="haveDoneInput"
                placeholder="Write have done"
               (keydown)="keyDownHaveDone($event)">
      </div>
    </div>
    <div name="toDo" class="block">
      <label for="nameInput" class="col-sm-2 control-label">What are you doing next?</label>
      <div *ngFor="let item of todoTask" >
        <label class="tasks-list-item">
            <input type="checkbox" id="{{item.id}}"
                  class="tasks-list-cb" [checked]="!item.active"
                   (change)="onCheck($event, item)" disabled>
            <span class="tasks-list-mark"></span>
            <span>{{item.title}}</span>
          </label>
      </div>
      <div class="col-sm-10">
        <input type="text"  [(ngModel)]="textToDo" name="toDoInput"
                placeholder="Write to do" (keydown)="keyDownToDo($event)">
      </div>
    </div>
    <div name="problems" class="block">
      <label for="nameInput" class="col-sm-2 control-label">Did you have problem?</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="problems" name="problemInput"
                (change)="putProblems()">
      </div>
    </div>
    <div name="deadline" class="block">
      <label for="nameInput" class="col-sm-2 control-label">deadline?</label>
      <div class="col-sm-10">
        <input type="radio" name="deadline" [checked]="deadline" (change)="deadline = !deadline">
        <label for="deadline">Yes</label>
        <input type="radio" name="deadline" [checked]="!deadline" (change)="deadline = !deadline">
        <label for="deadline">No</label>
        <input type="text" placeholder="reason" *ngIf="!deadline">
      </div>
    </div>
    <input type="button" (click)="addUpdate()" value="Send"
          >
    <div [hidden]=" message == undefined" class="block">
      {{message}}
    </div>
  </form>
</div>
