<div>
  <div class="grid__header">
    <div class="content">
      <span class="temp">Other buttons & options</span>
      <button type="button" class="btn__delete" (click)="hiddenForm()">
        <span class="close"></span>
      </button>
    </div>
  </div>
  <div [hidden]="!message || flagShowMessage"
    class="msg" [ngClass]="sucsMsg? 'msg__successful' : 'msg__danger'">
    <span>{{message}}</span>
  </div>
  <form class="block__main" #createForm="ngForm">
    <div name="haveDone" class="block">
      <p class="title">
        Have done?
        <span class="small">Check task, if you had done its.</span>
      </p>
      <div class="block__focus">
        <div *ngFor="let item of update.haveDone" class="item-task">
          <label class="tasks-list-item">
            <input type="checkbox" id="{{item.id}}"
              class="tasks-list-cb" [checked]="!item.active"
              (change)="onCheck($event, item)">
            <span class="tasks-list-mark"></span>
            <input type="text" [name]="item.id" [(ngModel)]="item.title">
            <button type="button" class="btn__delete item_todo" (click)="deleteTaskHaveDone(item)">
              <span class="close"></span>
            </button>
          </label>
        </div>
        <input type="text"
          [(ngModel)]="textDone"
          name="haveDoneInput"
          placeholder="Write have done"
          (keydown)="keyDownHaveDone($event)"
          [required]="update.haveDone.length == 0">
      </div>
    </div>
    <div name="toDo" class="block">
      <p class="title">What are you doing next?</p>
      <div class="block__focus" *ngFor="let item of update.toDo" >
        <label class="tasks-list-item">
          <input type="text" [name]="item.id" [(ngModel)]="item.title">
          <button type="button" class="btn__delete item_todo" (click)="deleteTaskToDo(item)">
            <span class="close"></span>
          </button>
        </label>
      </div>
      <div>
        <input type="text"
          [(ngModel)]="textToDo" name="toDoInput" placeholder="Write to do"
          (keydown)="keyDownToDo($event)" #toDoInput="ngModel">
      </div>
    </div>
    <div name="problems" class="block">
      <p class="title">Did you have problem?</p>
      <div>
        <input type="text"
          [(ngModel)]="update.problems"
          name="problemInput"
          placeholder="Write your problem with task, if you have their">
      </div>
    </div>
    <div name="deadline" class="block">
      <p class="title">Deadline?</p>
      <div>
        <input type="radio" name="deadline"
          [checked]="update.deadline" (change)="changeDeadline()">
        <label for="deadline">Yes</label>
        <input type="radio" name="deadline"
          [checked]="!update.deadline" (change)="changeDeadline()">
        <label for="deadline">No</label>
        <input type="text" placeholder="Write reason" *ngIf="!update.deadline">
      </div>
    </div>
    <div name="button_send">
      <input type="button" class="btn__send" (click)="addUpdate()"
        value="Send" [hidden]="!createForm.valid">
    </div>
  </form>
</div>
