.form__update {
  min-width: 40%;
  min-height: 100%;
  margin-left: 10px;
  background-color: white;
}

.list__update {
  /*min-width: calc(60% - 50px);*/
  width: calc(100% - 50px);
  padding: 10px 20px 0;
  background-color: white;
  height: 720px;
  min-height: 1px;
  overflow-y: scroll;
}


.verticalLine_red {
  border-left: thick solid red;
}

.verticalLine_green {
  border-left: thick solid green;
}

.block__user {
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  font-style: italic;
}

.todo__active {
  text-decoration: none;
}

.todo__deactive {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 0, 0, 0.5);
}
.btn__more {
  text-transform: uppercase;
  background: #FFF;
  height: 30px;
  width: 175px;
  border: 1px solid #bfbfbf;
  border-top: 1px dashed #bfbfbf;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;
}

.update__header {
  float: right;
  height: 20px;
}
