<div class="container content__header">
  <div class="list__update">
    <div class="grid__header content" id="list__header">
      <div>
        <button type="button" class="add" (click)="add()">Add report</button>
      </div>
    </div>
    <div class="content" id="timeline">
       <!-- class="block"[ngClass]="update.deadline ? 'verticalLine_green' : 'verticalLine_red'"> -->
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step" *ngFor=" let update of updates">
        <!--
          <button class="btn__delete" (click)="delete(update)">
            <span class="close"></span>
          </button>
        -->
          <app-update-view [update]="update" (click)="setItemForm(update)">
          </app-update-view>
        </div>
      </div>
    </div>
  </div>
  <div class="form__update" [hidden]="flagHiddenForm">
    <app-update-form
    (onHiddenForm)="onHiddenForm($event)"
    (changedForm)="get()">
    </app-update-form>
  </div>
</div>
