<div class="container content__header">
  <div class="list__update">
    <div class="grid__header content">
      <div>
        <button type="button" class="add" (click)="add()">Add report</button>
      </div>
    </div>
    <div class="content">
      <time-line-component></time-line-component>
      <div *ngFor=" let update of updates"
           class="block"
           [ngClass]="update.deadline ? 'verticalLine_green' : 'verticalLine_red'">
        <div>
          <button class="btn__delete" (click)="delete(update)">
            <span class="close"></span>
          </button>
          <update-view [update]="update" (click)="setItemForm(update)"></update-view>
        </div>
         <hr>
      </div>
    </div>
  </div>
  <div class="form__update" [hidden]="flagHiddenForm">
    <update-form
    (onHiddenForm)="onHiddenForm($event)"
    (changedForm)="get()">
    </update-form>
  </div>
</div>
