:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  color: black;
}

button {
  display: block;
  background-color: #fff;
  color: black;
  border: none;
  padding: 5px;
}

button.add:active, button.add:hover {
  padding: 3px;
  border: 2px solid red;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid__header {
  width:  100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  position: fixed;
  position: relative;
  z-index: 100;
}

.content {
  padding: 0px 20px 0;
  width: calc(100% - 40px);
}

.block {
  background-color: #fff;
}

.block__main {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.15);
  position: relative;
}

.block {
  padding: 0 10px;
}

.item_todo {
  top: 10px;
}

.item-task {
  width: 100%;
}

.tasks-list-item {
  display: block;
  border-bottom: 1px solid #f0f2f3;
  line-height: 24px;
  padding: 2px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tasks-list-cb {
  display: none;
}

.tasks-list-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}

.tasks-list-mark:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #c4cbd2;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}

.tasks-list-cb:checked ~ .tasks-list-mark:before {
  display: block;
  border-color: #39ca74;
}

.tasks-list-desc {
  font-weight: bold;
  color: #8a9a9b;
}

.tasks-list-cb:checked ~ .tasks-list-desc {
  color: #34bf6e;
  text-decoration: line-through;
}

.close {
  position: absolute;
  top: 50%;
  width: 8px;
  height: 8px;
}

.close:hover:before, .close:hover:after {
  position: absolute;
  left: 50%;
  content: '';
  height: 16px;
  width: 2px;
  margin: -8px 0 0 -5px;
  background-color:#B22222;
}

.close:before, .close:after {
  position: absolute;
  left: 50%;
  content: '';
  height: 16px;
  width: 2px;
  margin: -8px 0 0 -5px;
  background-color: #ccc;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn__delete {
  position: relative;
  float: right;
}

.temp {
  color: #ccc;
  border: 1px dotted #f0f2f3;
}
