<div class="container">
  <div class="grid__header" align="center">
    <button [routerLink]="['/create']">Add update</button>
    <select name="filter" id="">
      <option>Date</option>
      <option>Only self </option>
    </select>
  </div>
  <div class="block__main">
    <div *ngFor="let update of updates" class="block" [ngClass]="update.deadline ? 'verticalLine_green' : 'verticalLine_red'">
      <div class="block__user">
        <figure>
          <img src="../../../assets/img/user.svg" alt="" width="30px">
          <i>{{update.owner.name}}</i>
        </figure>
        <p>{{update.createdAt | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div>
        <div>
          <div>
            <span> Have done: </span>
            <div *ngFor="let did of update.haveDone"
                [ngClass]="did.active ? 'todo__active' : 'todo__deactive'" class="item_todo">
              <label class="tasks-list-item">
                <input type="checkbox" class="tasks-list-cb" [checked]="!did.active" (change)="onCheck($event, did)">
                <span class="tasks-list-mark"></span>
                <span>{{did.title}}</span>
              </label>
            </div>
          </div>
          <div>
            <span> Do you have next tasks? </span>
            <ul>
              <li class="item_todo" *ngFor="let do of update.toDo">{{do.title}}</li>
            </ul>
          </div>
          <p> <span>Problem:</span> {{update.problems}}</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
