<!--
  TODO: time line
  TODO: show more
-->
<div class="container">
  <div class="list__update">
    <div *ngFor=" let update of updates"
      class="block"
      [ngClass]="update.deadline ? 'verticalLine_green' : 'verticalLine_red'"
      (click)="editUpdate(update)">
        <update-view [update]="update"></update-view>
       <hr>
    </div>
  <!-- <button *ngIf="!flagBtnShow" (click)="showUpdates()" class="btn__more">Show More</button> -->
  </div>
  <div class="form__update" [hidden]="">
    <app-form-create [update]="editUpdateVar"></app-form-create>
  </div>

</div>
